<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list routerLinkActive="active">
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['factura']">Factura</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['reporte1']">Reporte 1</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['reporte2']">Reporte 2</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>LA MEJOR COCINA</span>
      <button mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>