<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="left">
  <mat-card fxFlex="100%" fxFlex.gt-sm="100%">
    <form [formGroup]="facturaForm" (ngSubmit)="save()">
      <mat-card-content>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Datos del Cliente</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Apellido 1" formControlName="apellido1">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Apellido2" formControlName="apellido2">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Camarero que atendio la solicitud</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width">
              <mat-select placeholder="Camarero" formControlName="idCamarero">
                <mat-option *ngFor="let camarero of camareros" [value]="camarero.idCamarero">
                  {{camarero.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Mesa</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width">
              <mat-select placeholder="Mesa" formControlName="idMesa">
                <mat-option *ngFor="let mesa of mesas" [value]="mesa.idMesa">
                  {{mesa.ubicacion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <form [formGroup]="detalleForm" (ngSubmit)="add()">
            <mat-card-header>
              <mat-card-title>Detalle</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="full-width">
                <input matInput placeholder="Plato" formControlName="plato">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Valor" formControlName="valor">
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-select placeholder="Cocinero" formControlName="idCocinero">
                  <mat-option *ngFor="let cocinero of cocineros" [value]="cocinero.idCocinero">
                    {{cocinero.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button>Agregar detalle</button>
            </mat-card-actions>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="plato">
                <th mat-header-cell *matHeaderCellDef> plato </th>
                <td mat-cell *matCellDef="let item"> {{item.plato}} </td>
              </ng-container>

              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> valor </th>
                <td mat-cell *matCellDef="let item"> {{item.valor}} </td>
              </ng-container>

              <ng-container matColumnDef="cocinero">
                <th mat-header-cell *matHeaderCellDef> cocinero </th>
                <td mat-cell *matCellDef="let item"> {{item.cocinero}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </form>
        </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>GUARDAR FACTURA</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>