<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="100%" fxFlex.gt-sm="100%">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> MES </th>
      <td mat-cell *matCellDef="let item"> {{item.nombre | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *matCellDef="let item"> {{item.apellido | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="mes">
      <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
      <td mat-cell *matCellDef="let item"> {{item.mes | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> TOTAL </th>
      <td mat-cell *matCellDef="let item"> {{item.total | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>